header,footer,main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header,footer{
    color: indianred;
    background-color: coral;

    text-align: center;
    text-transform: uppercase;

    z-index: 1000;
}

footer{
    top: auto;
    bottom: 0;
}

main{
    padding: 5px;
    background-color: goldenrod;
    height: 100vh;
}